html, body {height:100%;}
html {display:table; width:100%;}

body {display:table-cell; 
    text-align:center;
     vertical-align:middle;
     background-color: darkgray;
    }
img{
    border: 1px solid black;
    border-radius: 50%;
    width: 20%;
    height: 40%;
    margin-right: 1%;
}