<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
</head>  
<style>
th, td {
  border: 1px solid black;
}


#input{
    color:red;
}
button{
   position: fixed;
   top: 50%;
   right: 50%;
   width: 115px;
   height: 30px;

}
input{
  color:red;
}

</style>
<body>
  
<table >

<tr>

<th colspan="4">Facility</th>
<th colspan="11">PC Information</th>
<th colspan="6">Monitor</th>

</tr>


<tr style="font-size:x-large">
        <td>Bldg</td>
        <td>Floor</td>
        <td>Department</td>
        <td>Room</td>
        <td>Socket#</td>
        <td>PC Barcode</td>
        <td> PC S/N</td>
        <td>PC Name</td>
        <td>Make</td>
        <td>Model</td>
        <td>CPU</td>
        <td>RAM</td>
        <td>Username</td>
        <td>Warranty</td>
        <td>PO#</td>
        <td>Make</td>
        <td>Model</td>
        <td>Size</td>
        <td>S/N</td>
        <td>Barcode</td>
        <td>PO#</td>
</tr>


<form action="save">
<tr id="input">
    {% for each in output %}
    <input type="text" name="device" value="pc" style="display:none">
    <input type="text"name=id  value="{{each.id}}" style="display:none">
        <td><input type="text"  name="Bldg"  value="{{each.Bldg}}"></td>
        <td><input type="text" name="Floor" value="{{each.Floor}}"></td>
         <td><input type="text"  name="Department" value="{{each.Department}}"></td>
          <td><input type="text" name="room"  value="{{each.room}}"></td>
          <td><input type="text"  name="Socket"  value="{{each.Socket}}"></td>
         <td><input type="text"  name="Barcode" value="{{each.Barcode}}"></td>
      <td><input type="text" name="PC_SN"  value="{{each.PC_SN}}"></td>
      <td><input type="text"  name="PC_Name" value="{{each.PC_Name}}"></td>
         <td><input type="text"  name="pc_Make"   value="{{each.pc_Make}}"></td>
          <td><input type="text"   name="pc_Model"  value="{{each.pc_Model}}"></td>
        <td><input type="text" name="pc_CPU"    value="{{each.pc_CPU}}"></td>
        <td><input type="text" name="pc_RAM"  value="{{each.pc_RAM}}"></td>
          <td><input type="text" name="pc_Username"  value="{{each.pc_Username}}"></td>
          <td><input type="text" name="pc_Warranty" value="{{each.pc_Warranty}}"></td>
         <td><input type="text" name="pc_PO"  value="{{each.pc_PO}}"></td>
        <td><input type="text" name="screen_Make"  value="{{each.screen_Make}}"></td>
          <td><input type="text"  name="screen_Model" value="{{each.screen_Model}}"></td>
          <td><input type="text" name="scrren_size" value="{{each.scrren_size}}"></td>
         <td><input type="text" name="screen_SN"   value="{{each.screen_SN}}"></td>
          <td><input type="text" name="screen_Barcode"  value="{{each.screen_Barcode}}"></td>
          <td><input type="text"   name="screen_PO" value="{{each.screen_PO}}"></td>
          
</tr>
 {% endfor%}
<button style="right:40%">save changes</button>

</form>
<a href="search?device=pc"><button >back</button></a>
</table>









</body>
</html>