<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
</head>  
<style>
th, td {
  border: 1px solid black;
}

body{
    max-width: 1200px;
    margin: auto;
}
#input{
    color:red;
}
button{
   position: fixed;
   top: 50%;
   right: 50%;
   width: 115px;
   height: 30px;

}

</style>
<body>
  
<table >

<tr>
<th colspan="4">Facility</th>
<th colspan="8">Printer/Scanner/others</th>
</tr>


<tr style="font-size:x-large">
        <td>Bldg</td>
        <td>Floor</td>
        <td>Department</td>
        <td>Room</td>
        <td>Socket#</td>
        <td> Barcode</td>
        <td> S/N</td>
        <td>Make</td>
        <td>Model</td>
        <td>Warranty</td>
        <td>PO#</td>
        <td>IP address</td>

</tr>


{% for each in output %}
<tr id="input" style="color: red">  
        <td>{{each.Bldg}}</td>
        <td>{{each.Floor}}</td>
        <td>{{each.Department}}</td>
        <td>{{each.room}}</td>
        <td>{{each.Socket}}</td>
        <td>{{each.Barcode}}</td>
        <td>{{each.SN}}</td>
        <td>{{each.Make}}</td>
        <td>{{each.Model}}</td>
        <td>{{each.Warranty}}</td>
        <td>{{each.PO}}</td>
        <td>{{each.address}}</td>
        
</tr>

 {% endfor%}


</table>

<a href="search?device=printer"><button >back</button></a>

</body>
</html>
