<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>printerview</title>
</head>  
<style>
th, td {
  border: 1px solid black;
}

body{
    max-width: 1200px;
    margin: auto;
}
#input{
    color:red;
}
button{
   position: fixed;
   top: 50%;
   right: 50%;
   width: 115px;
   height: 30px;

}
input{
    color:Red
}
</style>
<body>
  
<table >

<tr>

<th colspan="4">Facility</th>
<th colspan="8">Printer/Scanner/others</th>


</tr>


<tr style="font-size:x-large">
        <td>Bldg</td>
        <td>Floor</td>
        <td>Department</td>
        <td>Room</td>
        <td>Socket#</td>
        <td> Barcode</td>
        <td>  S/N</td>
        <td>Make</td>
        <td>Model</td>
        <td>Warranty</td>
        <td>PO#</td>
        <td>IP address</td>

</tr>


<form action="save1">
<tr id="input">
    {% for each in output %}
    <input type="text" name="device" value="printer" style="display:none">
    <input type="text"name=id  value="{{each.id}}" style="display:none">
        <td><input type="text"  name="Bldg"  value="{{each.Bldg}}"></td>
        <td><input type="text" name="Floor" value="{{each.Floor}}"></td>
         <td><input type="text"  name="Department" value="{{each.Department}}"></td>
          <td><input type="text" name="room"  value="{{each.room}}"></td>
          <td><input type="text"  name="Socket"  value="{{each.Socket}}"></td>
         <td><input type="text"  name="Barcode" value="{{each.Barcode}}"></td>
         <td><input type="text"  name="SN" value="{{each.SN}}"></td>
         <td><input type="text"  name="Make"   value="{{each.Make}}"></td>
          <td><input type="text"   name="Model"  value="{{each.Model}}"></td>
          <td><input type="text" name="Warranty" value="{{each.Warranty}}"></td>
         <td><input type="text" name="PO"  value="{{each.PO}}"></td>
        <td><input type="text" name="address"  value="{{each.address}}"></td>
</tr>
 {% endfor%}











</tr>
<button style="right:40%">save changes</button>
</form>
<a href="search?device=printer"><button >back</button></a>
</table>









</body>
</html>